/**
 * Borlabs Cookie
 */
#BorlabsCookieBox,
#BorlabsCookieWidget {
	display: none !important;
}

/**
 * Usercentrics / Cookiebot
 */
#CybotCookiebotDialogBodyUnderlay,
#CybotCookiebotDialog {
	display: none !important;
}

#usercentrics-root {
	display: none !important;
}

/**
 * TrustArc / Truste
 */
.truste_overlay,
.truste_box_overlay,
#trustarcNoticeFrame {
	display: none !important;
}
#consent_blackbar {
	display: none !important;
}

/**
 * Automattic
 */
.a8c-cookie-banner {
	display: none !important;
}

/**
 * Cookiebar
 */
.cookiebar[data-cookiebar] {
	display: none !important;
}

/**
 * CCM
 */
.ccm-blocked:not(#fakeid) {
	overflow: unset !important;
}
.ccm-root {
	display: none !important;
}

/**
 * CookieYes
 */
.cky-consent-container,
.cky-btn-revisit-wrapper,
.cky-overlay {
	display: none !important;
}

/**
 * Complianz
 */
#cmplz-cookiebanner-container {
	display: none !important;
}

/**
 * OneTrust
 */
#onetrust-consent-sdk {
	display: none !important;
}

/**
 * Pandectes
 */
#pandectes-banner {
	display: none !important;
}

/**
 * CSM (Consentmo)
 */
.csm-cookie-consent {
	display: none !important;
}

/**
 * Iubenda
 */
#iubenda-cs-banner {
	display: none !important;
}

/**
 * SP Consent
 */
[class*="sp_message_container_"] {
	display: none !important;
}

/**
 * Consent Manager (consentmanager.net)
 */
#cmpwrapper.cmpwrapper:not(#fakeid) {
	display: none !important;
}

/**
 * CMP2
 */
#cmpbox2,
#cmpbox.cmpbox {
	display: none !important;
}

body:has(#cmpbox2, #cmpbox.cmpbox) {
	overflow: unset !important;
}

/**
 * Cookie Information
 */
#coiOverlay {
	display: none !important;
}

/**
 * PiwikPro
 */
[id^="ppms_cm_consent_popup_"],
[id^="ppms_cm_consent_bar_"] {
	display: none !important;
}

/**
 * Termly
 */
[class*="termly-styles-root-"] {
	display: none !important;
}

/**
 * Wix CCSU
 */
[class][data-hook="ccsu-banner-wrapper"] {
	display: none !important;
}

/**
 * TX OM Consent
 */
.tx-om-cookie-consent {
	display: none !important;
}
